phpmyadmin.csaposapp.hu {
    reverse_proxy phpmyadmin:80
}

backend.csaposapp.hu {
    reverse_proxy csaposapi-container:8080 {
        transport http {
            versions 1.1
        }
        header_up Access-Control-Allow-Origin *
        header_up Access-Control-Allow-Methods *
        header_up Access-Control-Allow-Headers *
    }
}


assets.csaposapp.hu {
    handle_path /assets/images* {
        root * /var/www/assets/images
        file_server
    }
}

csaposapp.hu {
    root * /usr/share/caddy
    file_server
    try_files {path} /index.html
    encode gzip
}
